<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target xsi:type="File" name="md100File" fileName="${basedir}/logs/${date:format=yyyy.MM.dd}/MercurMD100.log"
			layout="${longdate}   ${uppercase:${level}}   (0x${threadid})  ${callsite}   ${message} ${exception:format=ToString}"/>
    <target xsi:type="Console" name="md100Console"
			layout="${time}   ${uppercase:${level}}   (0x${threadid})  ${callsite}   ${message} ${exception:format=ToString}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="dk.CctalkLib.Misc.*" minlevel="Trace" writeTo="md100File" />
    <logger name="dk.CctalkLib.Misc.*" minlevel="Trace" writeTo="md100Console" final="true" />

    <logger name="*" minlevel="Trace" writeTo="f" />
  </rules>
</nlog>